In [87]:
import pandas as pd
from sqlalchemy import create_engine

### Data Sources:
#### https://www.kaggle.com/stackoverflow/so-survey-2017
#### https://www.kaggle.com/stackoverflow/stack-overflow-2018-developer-survey
#### https://www.kaggle.com/mchirico/stack-overflow-developer-survey-results-2019

### Store 2017 CSV into DataFrame

In [103]:
# Read in 2017 survey results (.csv) and create raw dataframe

csv_file_2017 = "survey_results_2017.csv"
csv_data_df_2017 = pd.read_csv(csv_file_2017)

In [89]:
# Inspect columns

columns2017 = csv_data_df_2017.columns.tolist()

### Create new 2017 data with select columns

In [90]:
# Create new dataFrame with filtered data

new_data_df_2017 = csv_data_df_2017[['Respondent','Gender','Race','Country','FormalEducation','MajorUndergrad','YearsCodedJob','DeveloperType','Salary']].copy()

# Rename columns to match .sql table

new_data_df_2017.columns = ['id','gender','race','country','education_level','undergrad_major','years_coding','dev_type','salary']

# Drop NA's

new_data_df_2017 = new_data_df_2017.dropna()
new_data_df_2017

,id,gender,race,country,education_level,undergrad_major,years_coding,dev_type,salary
2,3,Male,White or of European descent,United Kingdom,Bachelor's degree,Computer science or software engineering,20 or more years,Other,113750.000000
14,15,Male,White or of European descent,United Kingdom,Professional degree,Computer engineering or electrical/electronics...,20 or more years,Embedded applications/devices developer,100000.000000
17,18,Male,"Native American, Pacific Islander, or Indigeno...",United States,Bachelor's degree,Computer science or software engineering,20 or more years,Web developer; Embedded applications/devices d...,130000.000000
22,23,Male,White or of European descent,Israel,Bachelor's degree,Computer engineering or electrical/electronics...,5 to 6 years,Other,100764.000000
25,26,Male,White or of European descent,United States,Master's degree,Computer science or software engineering,16 to 17 years,Web developer,175000.000000
...,...,...,...,...,...,...,...,...,...
51361,51362,Male,Middle Eastern,India,Some college/university study without earning ...,Computer science or software engineering,2 to 3 years,Web developer; Developer with a statistics or ...,440.463955
51371,51372,Male,White or of European descent,Netherlands,Bachelor's degree,Computer science or software engineering,5 to 6 years,Web developer; Machine learning specialist; De...,74193.548387
51382,51383,Male,White or of European descent,France,Master's degree,Computer science or software engineering,1 to 2 years,Web developer,32258.064516
51387,51388,Male,East Asian; White or of European descent,United States,Bachelor's degree,A social science,1 to 2 years,Web developer; Developer with a statistics or ...,58000.000000
51390,51391,Male,White or of European descent,United States,Bachelor's degree,Computer science or software engineering,3 to 4 years,Web developer; Mobile developer,40000.000000

### Store 2018 CSV into DataFrame

In [91]:
# Read in 2018 survey results (.csv) and create raw dataframe

csv_file_2018 = "survey_results_2018.csv"
csv_data_df_2018 = pd.read_csv(csv_file_2018)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
# Inspect columns

columns2018 = csv_data_df_2018.columns.tolist()

### Create new 2018 data with select columns

In [93]:
# Create new dataFrame with filtered data

new_data_df_2018 = csv_data_df_2018[['Respondent','Gender','RaceEthnicity','Country','FormalEducation','UndergradMajor','YearsCoding','DevType','Salary']].copy()

# Rename columns to match .sql table

new_data_df_2018.columns = ['id','gender','race','country','education_level','undergrad_major','years_coding','dev_type','salary']

# Drop NA's

new_data_df_2018 = new_data_df_2018.dropna()

### Store 2019 CSV into DataFrame

In [94]:
# Read in 2019 survey results (.csv) and create raw dataframe

csv_file_2019 = "survey_results_2019.csv"
csv_data_df_2019 = pd.read_csv(csv_file_2019)

In [ ]:
# Inspect columns

columns2019 = csv_data_df_2019.columns.tolist()

### Create new 2019 data with select columns

In [95]:
# Create new dataFrame with filtered data

new_data_df_2019 = csv_data_df_2019[['Respondent','Gender','Ethnicity','Country','EdLevel','UndergradMajor','YearsCodePro','DevType','CompTotal']].copy()

# Rename columns to match .sql table

new_data_df_2019.columns = ['id','gender','race','country','education_level','undergrad_major','years_coding','dev_type','salary']

# Drop NA's

new_data_df_2019 = new_data_df_2019.dropna()

### Connect to Local Database

In [96]:
rds_connection_string = "postgres:postgres@localhost:5432/stackoverflow_survey_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [97]:
engine.table_names()

['survey_2017', 'survey_2018', 'survey_2019']

### Use pandas to load csv converted DataFrame into database

In [98]:
new_data_df_2017.to_sql(name='survey_2017', con=engine, if_exists = 'append', index=False)

In [100]:
new_data_df_2018.to_sql(name='survey_2018', con=engine, if_exists = 'append', index=False)

In [101]:
new_data_df_2019.to_sql(name='survey_2019', con=engine, if_exists = 'append', index=False)